<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>844142745276-vqec03fgi8dugf3v2lche511uq3uuquu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844142745276-vqec03fgi8dugf3v2lche511uq3uuquu</string>
	<key>API_KEY</key>
	<string>AIzaSyD5hRvF41AYyhoszLbmq7S7-bhM6qb57YM</string>
	<key>GCM_SENDER_ID</key>
	<string>844142745276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Launchpad.Journal</string>
	<key>PROJECT_ID</key>
	<string>journal-f4473</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-f4473.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844142745276:ios:e52f3323c79477da</string>
	<key>DATABASE_URL</key>
	<string>https://journal-f4473.firebaseio.com</string>
</dict>
</plist>
